body {
    margin:0;
    background-color: lightgreen;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    padding: .5%;
    color: yellow;
    background-color: blue;
    width: 100%;
    text-align: center;
    font-weight: 1000;
    border-bottom: solid .5rem black;
    border-radius: 0 0 2rem 2rem;
    text-shadow: .2rem .2rem .3rem darkgoldenrod;
}
form {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    text-align: center;
}

#name, #email, #password {

}