<html>
    <meta charset="UTF-8"> 
    <head>
        <title>Django App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1><b>Django App</b></h1>
        <div id="main_content">
            <form action="/change_cred/" method="POST">
                {% csrf_token %}
                <p id="change_cred_txt">Current username: {{ username }}</p>
                {{ form1 }}
                <input type="submit" value="Change Username" name="username_bt" id="username">
            </form>
            <form  action="/change_cred/" method="POST">
                {% csrf_token %}
                {{ form2 }}
                <input type="submit" value="Change Password" name="password_bt" id="password">
            </form>
        </div>
    </body>
</html>