<html>
    <meta charset="UTF-8"> 
    <head>
        <title>Django App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1><b>Django App</b></h1>
        <div id="main_content">
            <p id="ver_msg">Welcome back to DJango App, {{ username }}!</p>
            <img id="image" name="canvas"/>
        </div>
        <script>
            var imagesArray = ["1.jpg", "2.jpg", "3.jpg"]
            var num = Math.floor(Math.random() * 2)
            document.canvas.src = "{% static 'images/" + imagesArray[num] + "' %}+";
        </script>
    </body>
</html>