<html>
    <meta charset="UTF-8"> 
    <head>
        <title>Django App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1><b>Django App</b></h1>
        <div id="main_content">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Register" name="register" id="register">
            </form>
            <form action="/login/">
                <p style="font-size: 1rem;">Already have an account?</p>
                <input type="submit" value="Login" name="login">
            </form>
        </div>
    </body>
</html>